body {
	font-family: 'Raleway';
	background-color: #dddddd;
	margin: 0;
}

#wrapper {
	width: 800px;
	background: white;
	margin: 0 auto;
	min-height: 200px;
}

#logo, #footer {
	background-color: #aaaaaa;
	margin: 0;
}

#logo h1 {
	margin: 0;

}

#menu {
	float: right;
	width: 200px;
}

#contentWrapper {
	width: 600px;
	padding: 0px 10px;
}

#menu a {
	text-decoration: none;
	color: inherit;
}

