<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" >
	{% block head %}
	{% endblock %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>

	<div id="logo">
		<h1>Strona Adama</h1>
	</div>

	<div id="wrapper">

		<div id="menu">
			{% if user.is_authenticated %}
				<p> Witaj, {{ user.username }}!</p>
			{% endif %}
			<ul>
				
				<li><a href="{% url 'index' %}">Strona glowna</a></li>
				{% if not user.is_authenticated %}
					<li><a href="{% url 'login' %}">Login</a></li>
					<li><a href="{% url 'register' %}" id="register_link">Register</a></li>
				{% else %}
					<li><a href="{% url 'add_new_post' %}">Dodaj nowy post</a></li>
					<li><a href="{% url 'edit_profile' %}">Edycja profilu</a></li>
					<li><a href="{% url 'sendmessage' %}">Wyslij wiadomosc</a></li>
					<li><a href="{% url 'inbox' %}">Skrzynka odbiorcza</a></li>
				{% if user.is_superuser %}
					<li><a href="{% url 'add_new_tag' %}">Dodaj nowy tag</a></li>
				{% endif %}
					<li><a href="{% url 'logout' %}">Wyloguj sie</a></li>
				{% endif %}
			</ul>
		</div>
		<div id="contentWrapper">
			<div id="header">
				{% block header %}
				{% endblock %}
			</div>

			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>

	</div>

	<div id="footer">
		<p>
			Copyright by Adam
		</p>
	</div>
	
</body>
</html>