{% extends 'main/base.html' %}

{% block head %}
	<title>Strona główna</title>
{% endblock %}

{% block header %}
	<h1> Najnowsze posty na naszej stronie </h1>
{% endblock %}

{% block content %}
	<div>
		{% for post in posts %}
			<div>
				<h2>{{ post.title }} </h2>
				<h4>
					Opublikowany {{ post.publish_date }} przez <a href="{% url 'user_info' post.user.username %}"> {{ post.user.username }}</a>
					   {% if post.user.username == user.username %} |
							 <a href="{% url 'edit_post' post.id %}">edytuj</a>
						{% endif %}
				</h4>
				<p> {{ post.content|truncatechars:200 }} </p>
                {% if post.content|length > 200 %}
                <a href="{% url 'one_post' post.id %}">Czytaj dalej</a>
                {% endif %}
				<tr>
                    <td></td>
                    {% if post.photo == '' %}
                    <td> </td>
                    {% else %}
                    <td><img src='{{ post.photo.url|slice:"4:" }}' width="100" height="100"></td>
                    {% endif %}
                </tr>
				<p> Tagi: 
					{% for t in post.tag.all %}
						<a href="/bytag/{{ t.name|slice:'1:' }}">{{t.name}} </a>
						<a>, </a>
					{% endfor %}
				</p>
			</div>
        <div><a href="{% url 'add_new_comment' post.id %}">Komentarz (dodaj)</a>
			{% if post.user.username == user.username %}
				<a href="/remove_post/{{post.id}}">  Usun post</a>
			{% endif %}
				<br>
                {% for comment in comments %}
                    {% if post.id == comment.post.id %}
                        <{{comment.comment_date}}> - {{comment.content}} <br>
                    {% endif %}
                {% endfor %}
        </div>
		{% endfor %}
	</div>
    <br>

<div>
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
</div>
	<br>
	<a href="{% url 'tags' %}">Lista tagow</a>
{% endblock %}
