{% extends 'main/base.html' %}

{% block head %}
	<title>Lista postow</title>
{% endblock %}

{% block header %}
	<h1>lista postow #{{name}}</h1>
{% endblock %}

{% block content %}
	<div>
		{% for post in posts %}
			<div>
				<h2>{{ post.title }} </h2>
				<h4>
					Opublikowany {{ post.publish_date }} przez <a href="{% url 'user_info' post.user.username %}"> {{ post.user.username }}</a>
					   {% if post.user.username == user.username %} |
							 <a href="{% url 'edit_post' post.id %}">edytuj</a>
						{% endif %}
				</h4>
				<p> {{ post.content|truncatechars:200 }} </p>
                {% if post.content|length > 200 %}
                <a href="{% url 'one_post' post.id %}">Czytaj dalej</a>
                {% endif %}
				<p> Tagi: 
					{% for t in post.tag.all %}
						{{ t.name }} 
					{% endfor %}
				</p>
			</div>
        <div><a href="{% url 'add_new_comment' post.id %}">Komentarz (dodaj)</a><br>
                {% for comment in comments %}
                    {% if post.id == comment.post.id %}
                        <{{comment.comment_date}}> - {{comment.content}} <br>
                    {% endif %}
                {% endfor %}
        </div>
		{% endfor %}
	</div>
    <br>


	<br>
	<a href="{% url 'tags' %}">Lista tagow</a>
{% endblock %}
