{% extends 'main/base.html' %}

{% block head %}
	<title>UserInfo</title>
{% endblock %}

{% block header %}
	<h1>Uzytkownik {{user}}</h1>
{% endblock %}

{% block content %}
<ul>
    <li>Nazwa: {{users.username}}</li>
    <li>Imie: {{users.first_name}}</li>
    <li>Nazwisko: {{users.last_name}}</li>
    <li>Email: {{users.email}}</li>
</ul>
{% for a in profile %}
{% if a.user_id == users.id %}
<ul>
    <img src='{{ a.avatar.url|slice:"4:" }}'>
    <li>Opis: {{a.description}}</li>
    <li>Miasto: {{a.city}}</li>
    <li>Data urodzenia: {{a.birth_date}}</li>
</ul>
{% endif %}
{% endfor %}
{% endblock %}
