{% extends 'main/base.html' %}

{% block head %}
	<title>UserInfo</title>
{% endblock %}

{% block header %}
	<h1>Uzytkownik {{user}}</h1>
{% endblock %}

{% block content %}
<ul>
    <li>Nazwa: {{users.username}}</li>
    <li>Imie: {{users.first_name}}</li>
    <li>Nazwisko: {{users.last_name}}</li>
    <li>Email: {{users.email}}</li>
</ul>
{% if profile %}
<ul>
    <img src='{{ profile.avatar.url|slice:"4:" }}'>
    <li>Opis: {{profile.description}}</li>
    <li>Miasto: {{profile.city}}</li>
    <li>Data urodzenia: {{profile.birth_date}}</li>
</ul>
{% endif %}
{% endblock %}
